{% extends 'base.html' %}

{% block content %} 
{% if post.author.id is not user.id %}
    <h1 class='msg'> Удалить данный пост может только его автор </h2>
{% else %}
    <h1 class='msg'> Вы уверены, что хотите удалить этот пост? </h1>
        <div class='container text-center'>
            <div class="btn-group text-center" role="group">
                <form method='post' action='{% url 'picturas:delete-post' post.id %}'>
                    {% csrf_token %} <button type='submit' class='btn btn-danger'> Удалить </button>
                </form>
                <a href="{% url 'picturas:post' post.id %}">  <button class='btn btn-info'> Нет </button> </a> 
            </div>
        </div>
{% endif %}
{% endblock content %} 
