{% extends 'base.html' %}

{% block content %} 
    {% if most_pop_posts %}
      <div class="album py-5">
        <div class="container">
          <div class="row">
            {% for post in most_pop_posts %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <a href='{% url 'picturas:post' post.id %}'> <img class="card-img-top" src = '{{ post.image.url }}' alt="Card image cap"> </a>
                <div class="card-body">
                  <p class="card-text"> {{ post.description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="text-muted"> <a href= '{% url 'users:profile' post.author.id%}'> {{post.author.username}} </a> </small>
                    <small class="text-muted"> {{ post.date_edit|date:"d F G:i"  }} </small>
                    <small class="text-muted"> {{ post.get_likes }} like{{post.get_likes|pluralize}} </small>
                    <div class="btn-group">
                        <form method='post' action='{% url 'picturas:like-post' post.id %}'>
                            {% csrf_token %} <button type='submit' class="btn btn-sm btn-danger"> <i class="fas fa-heart"></i> </button>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <h3 class='msg'> Постов нет </h3>
    {% endif %}
{% endblock content %}